* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%; /*1rem = 10px*/
}

body {
   width: 80%;
    margin: 0 auto;
    background-color: #3c004d;
}

header {
   text-align: center;
    padding: 3rem;
}

.above {
    display: none;
}
.unhide {
  display: block;
}

.navmenu {
    height:100vh;
    width: 10vh;
    margin: 0rem;
    text-align: left;
    position:fixed;
    top: 50%;
    right: 5%;
    transform: translate(100%,-50%);
    
}



li {
    padding:4vh;
    list-style-type: none;
}

#navitsumade:before {
    content: "";
    position:absolute;
    background: azure;
    width:4vh;
    height:4vh;
    left:-1vh;
    border-radius: 50%;
    border:2px solid #000000;
}
#navshrine:before {
    content: "";
    position:absolute;
    background: #bac0ff;
    width:4vh;
    height:4vh;
    left:-1vh;
    border-radius: 50%;
    border:2px solid #000000
}
#navpavilion:before {
    content: "";
    position:absolute;
    background: #f3edff;
    width:4vh;
    height:4vh;
    left:-1vh;
    border-radius: 50%;
    border:2px solid #000000
}
#navhome:before {
    content: "";
    position:absolute;
    background: #fffbb0;
    width:4vh;
    height:4vh;
    left:-1vh;
    border-radius: 50%;
    border:2px solid #000000
}
#navspace:before {
    content: "";
    position:absolute;
    background: aliceblue;
    width:4vh;
    height:4vh;
    left:-1vh;
    border-radius: 50%;
    border:2px solid #000000
}
#navmerchant:before {
    content: "";
    position:absolute;
    background: #d0c9ff;
    width:4vh;
    height:4vh;
    left:-1vh;
    border-radius: 50%;
    border:2px solid #000000
}



.fullscreen {
    background-color:#fffbb0;
        height:100vh;
}

.fullscreen a{
    background-color:#fffbb0;
        height:100vh;
}

#start a {
    text-decoration: none;
    color: blueviolet;
}

#start a:hover {
    color: gray;
}

main {
    margin: 3rem 0;;
}

section {
    width: 33.33%;
    float: left;
    padding: 0 2rem;
}

#start {
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family: fantasy;
    color: #9300bf;
}
#start .dalo h1{
    font-size: 10vh;
    text-shadow: 2px 2px #0e170e;
    animation-name:breath;
    animation-duration:5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

#start .gallery {
    align-self: flex-end;
    margin:5vh;
}
#start .cs {
    align-self: flex-start;
    margin:5vh;
}

aside {
    width: 33.33%;
    float: left;
    padding: 0 2rem;
}

footer {
  background-color:#fffbb0;
}

.centerflex {
    display: flex;
    align-items: center;
  justify-content: center;
}

.centerflex a{
    display: flex;
    align-items: center;
  justify-content: center;
}

#spacelink {
    background-color:aliceblue;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 0rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.5);
    padding:1%
}

.portrait {
    height: 90%;
    width: auto;
}

.clearfix::after {
    content: "";
    clear:both;
    display:block;
}

.zoom {
    transition: transform .2s;
}
.zoom:hover {
  transform: scale(1.05);
}

@keyframes breath{
    0% {font-size: 10vh;}
    50% {font-size: 11vh;}
}